/*Parrafos de terminos y condiciones*/
        .parrafo1{
          text-indent: 3em; 
          margin-bottom: 16px;
          font-size: 15px;
        }
        .parrafo{ 
          margin-bottom: 5px;
          font-size: 15px;
        }
/*----------------------------------*/        
/*------Parrafo de vacunatorio------*/
        .parrafo2{
          text-indent: 2em;
          margin-bottom: 9px;
          font-size: 17px;
          line-height: 20px;
          text-align: justify;
        }
        .parrafo3{
          text-indent: 2em;
          margin-bottom: 9px;
          margin-top: 25px;
          font-size: 17px;
          line-height: 20px;
          text-align: justify;
          color: #5ab7de;
        }
        .parrafo4{
          margin-bottom: 9px;
          margin-top: 25px;
          font-size: 20px;
          line-height: 25px;
          text-align: center;
          color: #434547;
        }
        .parrafo5{
          text-indent: 2em;
          margin-bottom: 9px;
          font-size: 18px;
          line-height: 25px;
          text-align: center;
        }
        .parrafo6{
          text-indent: 2em;
          margin-bottom: 60px;
          font-size: 17px;
          line-height: 20px;
          text-align: center;
        }
/*-----------------------------------*/
/*----------Titulos en vacunatorio---------*/
        .titulo1{
          font-size: 23px;
          line-height: 20px;
          color: #5ab7de;
        }
        .titulo2{
          font-size: 34px;
          line-height: 42px;
          color: #5ab7de;
        }
        .cartel1{
          font-size: 34px;
          line-height: 42px;
          color: #5ab7de;
          text-align: center;
        }
        .titulo3{
          font-size: 45px;
          line-height: 42px;
          color: #fff;
          text-align: center;
        }
        .titulo4{
          font-size: 45px;
          line-height: 42px;
          margin-bottom: 40px;
          color: #434547;
          text-align: left;
        }
        .titulo5{
          font-size: 50px;
          line-height: 42px;
          color: #5ab7de;
          text-align: center;
          margin-bottom: 40px;
        }
        .titulo6{
          font-size: 35px;
          color: #5ab7de;
          text-align: center;
          line-height: 30px;
          margin-bottom: 40px;
        }
        .titulo7{
          font-size: 15px;
          line-height: 28px;
          color: #434547;
          text-align: center;
          margin-bottom: 40px;
        }
        .titulo8{
          font-size: 24px;
          line-height: 42px;
          color: #5ab7de;
          text-align: center;
        }
        .titulo9{
          font-size: 30px;
          line-height: 42px;
          color: #777777;
          text-align: left;
          margin-bottom: 30px;
        }
        .titulo10{
          font-size: 20px;
          line-height: 42px;
          color: #777777;
          text-align: left;
        }
        .titulo11{
          font-size: 25px;
          line-height: 42px;
          color: #777777;
          text-align: left;
          margin-bottom: 30px;
        }
        .titulo12{
          font-size: 20px;
          line-height: 42px;
          color: #5ab7de;
          text-align: left;
        }
        .titulo13{
          font-size: 30px;
          line-height: 42px;
          color: #5ab7de;
          text-align: center;
          text-shadow: 1px 1px 3px #ffffff ;
          font-weight: 10px;
        }
        .titulo14{
          font-size: 17px;
          line-height: 15px;
          color: #5ab7de;
        }
        .titulo15{
          font-size: 35px;
          line-height: 42px;
          margin-bottom: 15px;
          color: #434547;
          text-align: left;
        }
        .titulo16{
          font-size: 25px;
          line-height: 42px;
          margin-bottom: 15px;
          color: #434547;
          text-align: left;
        }
        .titulo17{
          font-size: 50px;
          line-height: 50px;
          color: #434547;
          text-align: center;
        }
        .titulo18{
          font-size: 50px;
          line-height: 50px;
          color: #5ab7de;
          text-align: center;
        }
        .titulo19{
          font-size: 25px;
          line-height: 40px;
          color: #434547;
          text-align: center;
        }
        .titulo20{
          font-size: 40px;
          line-height: 50px;
          color: #fff;
          text-align: center;
        }
        .titulo21{
          font-size: 35px;
          line-height: 50px;
          color: #5ab7de;
          text-align: center;
        }
        .titulo22{
          font-size: 70px;
          line-height: 50px;
          color: #5ab7de;
          text-align: center;
        }
/*---------COLUMNAS----------------*/
.col_4 {
  float: left;
  width: 8.33333%;
  min-height: 1px;
  width: 33.33333%;
  text-align: center;
}
/*-------------listas------------*/


/*==================     PRUEBA FAQS     ======================*/
.faq_question {
margin: 0px;
padding: 0px 0px 5px 0px;
display: inline-block;
cursor: pointer;
font-weight: bold;
font-size: 16px;
color: #62bfe6;
margin-top: 0px;
margin-bottom: 0px;
}       
.faq_answer_container {
text-indent: 2em;
height: 0px;
overflow: hidden;
padding: 0px;
font-size: 16px;
color: #777777;
margin-top: 23px;
margin-bottom: 23px;
font-family: "arial", serif;
line-height: 30px;
}

/*===============     ICONOS     ===============*/

.iconfaq {
  position: relative;
  width: 100px;
  height: 100px;
  line-height: 100px;
  font-size: 52px;
  text-align: center;
  color: #fff;
  background: #62bfe6;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

/*===============     INPUTFORMS     ===============*/

.inputform2 {
    width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.inputform3 {
  width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
.inputform4 {
  width: 400px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 5px
}

.btn3 {
  display: inline-block;
  width: 300px;
  padding: 16px;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}.btn3:hover {
  background: #eaeaea;
}.btn3:active {
  background: #4ab5e2;
}.btn3 {
  color: #fff;
  background: #22a1d7;
}.btn3:hover, .btn3:active {
  color: #62bfe6;
}

/*===============     checkbox     ===============*/
.container2 {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container2 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container2:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container2 input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container2 input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container2 .checkmark:after {
  top: 9px;
  left: 9px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

/*osjfaosjf*/


.verticalaligned {
    display: table-cell;
    vertical-align: middle;
    height: 50px;
}

.fondo_formulario {
 background-image: url("../images/flores.jpg");
}
 .fondo_redpfpc {
 background-image: url("../images/modal.jpg");


} 
.fondo_form{
      background-color: rgba(255, 255, 255, .9);
      padding-top: 50px;
      border-radius: 20px;


}

/* The container */
.container_checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  float: left;
  padding-right: 25px;
  padding-top: 3px

}

/* Hide the browser's default checkbox */
.container_checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;

}

/* On mouse-over, add a grey background color */
.container_checkbox:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container_checkbox input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container_checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container_checkbox .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/*----------------------pricing table-----------------------*/
#tabla-precios {
 display:inline-block;
 width:100%;
 margin-top:50px
}

/*Columnas*/

.precio-col {
 display:inline-block;
 background-color:#f3f3f3;
 width:100%;
 max-width:500px;
 border-radius:10px;
 margin-bottom:50px;
 box-shadow: 0px 2px 5px #ddd
}

@media screen and (min-width:768px) {
 .precio-col {
 width:50%;
 float:center;
 margin-right:2%
 }
 
 .precio-col:last-child {
 margin-right:0
 }
}

/*Headers*/

.precio-col-header {
 background-color:#333;
 padding:20px;
 border-top-left-radius:10px;
 border-top-right-radius:10px
}

.precio-col:nth-child(2) .precio-col-header {
 background-color:#5ab7de
}

.precio-col-header h3 {
 color:#f3f3f3;
 text-align:center;
 font-size:30px;
 font-weight:600;
 margin-bottom:0
}

.precio-col-header p {
 text-align:center;
 color:#f3f3f3;
 font-size:14px;
 margin-bottom:0
}

/*Características*/

.precio-col-features {
 padding: 0 20px 20px 20px
}

.precio-col-features p {
 padding:20px 0;
 margin:0;
 text-align:center;
 border-top:1px solid #ddd
}

.precio-col-features p:first-child,
.precio-col-features p:last-child {
 border-top:none
}

/*Comprar*/

.precio-col-comprar {
 padding:10px;
 max-width:250px;
 text-align:center;
 background-color:#5ab7de;
 margin: 0 auto 20px;
 border-radius:10px;
 border: 2px solid #5ab7de;
 transition: all 0.3s
}

.precio-col-comprar a {
 color:#f3f3f3;
 padding:10px;
 font-size:15px;
 text-transform:uppercase;
 transition: all 0.3s
}

.precio-col-comprar:hover {
 background-color:#f3f3f3;
 transition: all 0.3s
}

.precio-col-comprar:hover a {
 color:#5ab7de;
 transition: all 0.3s
}
/*----------------------fin pricing table-----------------------*/
/*----------------------MODAL-----------------------*/
.modalDialog {
  position: fixed;
  overflow-y: auto;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 99999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity:1;
  pointer-events: auto;
}
.modalDialog > div {
  width: 600px;
  height: 750px;
  position: relative;
  margin: 0.5% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
text-align: center;
}
.close {
  background: #606061;
  color: #FFFFFF;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }
/*----------------------fin MODAL-----------------------*/

/*-------------estilos para ofertas-------------*/
.ofertas {
  visibility: visible; 
  animation-name: fadeInRight; 
  padding:10px 10px 10px 10px; 
  box-shadow: 0px 0px 5px 2px gray, 3px 3px 3px 5px gray;
  border-radius: 2px;
}